%h1
  %b
    = "Help"
%span
  %div
    %b= "* If you have any suggestions, problems, or bugs you have found please let me know!"
  %div
    = "- Islam Odeh,"
    = link_to "islamodeh@hotmail.com", "mailto: islamodeh@hotmail.com"
