.center
  %h3
    = "Introduction.."
  %br
  %br
  %br
  %h4
    .row
      .col
        = link_to "Instructor", new_instructor_session_path, class: "btn btn-outline-info btn-lg  btn-block home-index-button"
      .col
        = link_to "Student", new_student_session_path, class: "btn btn-outline-info btn-lg  btn-block home-index-button"
  %br
  %br
  %br