.center {
  text-align: center;
}
.profile-icon {

}

.instructor-index-button {
  font-size: 30px;
}

.home-index-button {
  height: 100px;
  width: 540px;
  display: table-cell;
  font-size: 60px;
}

.course {
  height: 200px;
  width: 540px;
  font-size: 30px;
}

.red {
  color: red;
}

.show_zone_name {
  color:red;
}

.overflow-wrap{
  overflow-wrap: break-word;
  width:100px;
}

.overflow-x {
  white-space: nowrap;
  overflow-x: scroll;
}

.code {
  height: 450px !important;
  resize: both;
}

.enable-resize {
  overflow: auto;
  resize: both;
}

.form-control {
  width: 40%;
  margin: 0 auto;
}

.modal-header {
  background-color: black;
  color: white;
}

.modal-backdrop {
  background-color: black;
}

body{
  /*color: white;*/
  /*background-color: #000000b8;*/
}

/*a {
  color: white;
}*/

a:hover{
  color: red;
  text-decoration: none;
}

body.home.index {
  color: white;
  background-position: right 25px;
  background-repeat: no-repeat;
  background-image: url("homepage.png");
  background-size: 100%;
}

