#home_index {
  .container-fluid {
    .text-center {
      display: block;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
  }
}

#home_help {
  .container-fluid {
    margin-top: 10vh;
    @extend .container;
  }
}

#sessions_new, #registrations_new, #registrations_create, #registrations_edit, #registrations_update, #passwords_new, #passwords_create, #confirmations_new, #confirmations_create {
  .container-fluid {
    margin-top: 10vh;
    @extend .container;
    @extend .col-lg-6;
  }
}

/* Instructor */
#instructors_index, #students_index {
  .container-fluid {
    @extend .text-center;
    margin-top: 10vh;

    .row {
      margin-top: 10vh;
    }
  }
}

#courses_index, #courses_search {
  .container-fluid {
    @extend .container;
    @extend .text-center;
    margin-top: 5vh;

    .actions {
      margin-top: 2vh;
    }
  }
}

#courses_new, #courses_create, #courses_update, #courses_edit {
  .container-fluid {
    @extend .text-center;
    margin-top: 5vh;
    width: 50vw;

    input:not([type="submit"]), textarea {
      margin-bottom: 2vh;
    }

    textarea {
      height: 100px;
    }
  }
}

#works_index {
  .container-fluid {
    margin-top: 5vh;
    @extend .container;

    .work_div {
      background: rgb(237, 238, 237);
      padding: 5% 5%;
      border-radius: 40px;
      margin-bottom: 2vh;
      overflow: hidden;

      span {
        display: inline-block;
        max-width: 75%;
        white-space: nowrap;
      }
    }
  }
}

#works_new, #works_create, #works_update, #works_edit {
  .container-fluid {
    @extend .text-center;
    margin-top: 5vh;
    width: 50vw;

    input:not([type="submit"]), textarea {
      margin-bottom: 2vh;
    }

    .field_with_errors {
      display: inline
    }

    textarea {
      height: 100px;
    }
  }
}


#samples_index {
  .container-fluid {
    margin-top: 5vh;
    @extend .container;

    .row {
      margin-top: 5vh;

      .actions {
        margin-top: 2vh;
      }
    }
  }
}

#samples_new, #samples_create, #samples_update, #samples_edit {
  .container-fluid {
    @extend .text-center;
    margin-top: 5vh;
    width: 50vw;

    input:not([type="submit"]), textarea {
      margin-bottom: 2vh;
    }
    textarea {
      height: 100px;
    }
  }
}

#submissions_index {
  .container-fluid {
    margin-top: 5vh;
    @extend .container;
    @extend .text-center;

    .row {
      margin-top: 2vh;
    }
  }
}

#submissions_new {
  .container-fluid {
    margin-top: 5vh;
    @extend .container;
    @extend .text-center;

    textarea {
      height: 60vh;
    }

    .actions {
      margin-top: 2vh;
    }
  }
}

#courses_students, #courses_grades, #works_student_submissions {
 .container-fluid {
    @extend .container;
    @extend .text-center;
    margin-top: 5vh;
  }
}

.modal.code {
  .modal-content, .modal-dialog {
    min-height: 100%;
  }

  .modal-body {
    height: 60vh;

    textarea {
      width: 100%;
      height: 50vh;
    }
  }
}